<launch>

   <node name="edumip_balance_ros_node" pkg="edumip_balance_ros" type="edumip_balance_ros_horizontal" output="screen" >
        <param name="imu_frame_id" type="string" value="base_link"/>
        <param name="odom_frame_id" type="string" value="odom"/>
        <param name="odom_child_frame_id" type="string" value="edumip_body"/>
   </node>

</launch>
