<?xml version="1.0"?>
<launch>

	<arg name="find_pkg" default="$(find final_project)"/>

    <!-- EduMIP -->
    <group ns="EduMIP">

		<!-- Joy Node -->
		<node respawn="true" pkg="joy" type="joy_node" name="joy_node">
			<param name="dev" type="string" value="/dev/input/js0"/>
			<param name="deadzone" value="0.12"/>
		</node>

        <!-- Joy_twist Node -->
		<param name="axis_linear" value="1" type="int"/>
		<param name="axis_angular" value="0" type="int"/>
		<param name="scale_linear" value="1" type="double"/>
		<param name="scale_angular" value="1" type="double"/>
		<node name="joy_twist" pkg="final_project" type="joy_twist_node">
			<remap from="/joy" to="/EduMIP/joy"/>
		</node>

        <!-- load the URDF into the ROS parameter server -->
		<arg name="model" default="$(arg find_pkg)/urdf/edumip/edumip_my_robot_horizontal.xacro"/>
		<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>

		<!-- edumip_my_robot_state_publisher Node-->
		<node name="edumip_my_robot_state_publisher" pkg="final_project" 
			type="edumip_my_horizontal_robot_state_publisher" output="screen">
			<remap from="/edumip/odometry" to="/edumip/simu_odom"/>
			<param name="tf_prefix" type="string" value="EduMIP"/>
			<param name="odom_frame_id" type="string" value="simu_odom"/>
			<param name="odom_child_frame_id" type="string" value="edumip_body"/>
		</node>
        
		<!-- combine joint values -->
		<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
			<param name="publish_frequency" type="double" value="50.0"/>
			<param name="tf_prefix" type="string" value="EduMIP"/>
		</node>

    </group>

    <!-- start rviz -->
  	<!-- <node pkg="tf" type="static_transform_publisher" name="world_to_EduMIP" args="0 0 0 0 0 0 world /EduMIP/world 100" />  -->
	+	<node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 world /map 100"/>
	<!-- <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0.034 0 0 0 /EduMIP/base_footprint /EduMIP/edumip_body 100"/> -->
	<!-- <node pkg="tf" type="static_transform_publisher" name="world_to_odom" args="0 0 0 0 0 0 world /EduMIP/simu_odom 100"/> -->
	
	<node name="rviz" pkg="rviz" type="rviz" 
		args="-d $(arg find_pkg)/rviz/real_edumip.rviz" />

</launch>